n8n_workflows/escalation.json
{
  "name": "Revenue Guardian - High Severity Escalation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "revenue-guardian/escalation",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-escalation-in",
      "name": "Escalation webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "high-severity",
              "leftValue": "={{$json.result.anomalies_found[0].severity}}",
              "rightValue": "high",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "alert-not-sent",
              "leftValue": "={{$json.result.alert_sent}}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-alert-failed",
      "name": "High severity & alert failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=\u26a0\ufe0f Escalation: WhatsApp alert failed for a HIGH severity revenue anomaly.\nReason: {{$json.result.alert_skip_reason || 'unknown'}}\nReport: {{$json.result.final_report}}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "notify-oncall",
      "name": "Notify on-call via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 220],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot_credential",
          "name": "Revenue Guardian Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op-end",
      "name": "No escalation needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Escalation webhook": {
      "main": [[ { "node": "High severity & alert failed?", "type": "main", "index": 0 } ]]
    },
    "High severity & alert failed?": {
      "main": [
        [ { "node": "Notify on-call via Telegram", "type": "main", "index": 0 } ],
        [ { "node": "No escalation needed", "type": "main", "index": 0 } ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "notes": "Safety net: fires only when a high-severity anomaly's primary WhatsApp alert failed to send, so the incident doesn't go unnoticed."
  }
}
